.helpImage {
  max-width: 60%;
  height: auto
}

.helpTitle {
  font-size: 40px;
  font-weight: 600;
  color: #484252;
}

.helpContent {
  font-size: 20px;
  font-weight: 600;
  color: #484252;
}

@media (max-width: 499px) {
  .helpTitle {
    font-size: 32px;
  }
  .helpContent {
    font-size: 16px;
  }
  .helpImage {
    max-width: 80%;
  }
  .helpWrapper {
    padding: 30px 15px;
  }
}