.Toolbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 5px 10px -5px #080808;
}

.pumpr {
  font-weight: 600;
  font-size: 1.5rem;
  background-image: linear-gradient(125.54deg, #7ADFBB 0%, #45A1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

