.Modal {
  position: fixed;
  z-index: 500;
  background-color:#fff;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 16px;
  text-align: center;
  left: 15%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

.Modal p {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}