.confirm {
  color: #70A9A1;
  font-weight: 600;
}
.decline {
  color: #E1467C;
  font-weight: 600;
}
.messageCard {
  color: #818D92;
  cursor: pointer;
  margin-top: 10px;
}

.messageCard:hover {
  background-color: #F3F3F3;
}

.expandMsg {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px 1px;
}

.fullMessage {
  color: #818D92;
  /* cursor: pointer; */
  border-bottom: 1px solid #cac4cb;
}

.closeInput {
  cursor: pointer;
}


.msg {
  text-align: initial;
  font-size: 0.9rem;
  background-color: #f2f7f6;
  border-radius: 0.5rem 0.5rem;
  padding: 10px 20px;
}

.msgInput {
  padding: 10px 10px;
  display: inline-block;
  min-height: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-color: #f3f3f3;
  min-width: 300px;
  margin-top: 10px;
  width: 100%;
}

.offerBtn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #7B42F6;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}


.feedbackBtn {
  display: inline-block;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #C8C4CB;
  padding: 10px 25px;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #484252;
  background-color: transparent;
}

.feedbackBtn:hover,
.offerBtn:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}



.sendBtn {
  margin-right: 15px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 10px 25px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #ffffff;
  background-color: #70A9A1;
}