.liftsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: #F2F7F6;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 1rem;
}

.liftsWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

::placeholder {
  color: #C8C4CB;
}