.Card {
  border: none;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.Input {
  border: 2px solid #F3F3F3;
  display: block;
  padding: 0;
  margin: auto;
  text-align: center;
  width: 70%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #C8C4CB;
  background-clip: padding-box;
  border-radius: 10px;
}

.Icon {
  margin: 25px auto;
}