.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 35%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: #F3F3F3;
  padding: 16px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.SideDrawer nav ul li a{
  font-size: 16px;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
  .DivForMedia {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
