.settingsNav {
  cursor: pointer;
  font-size: 24px;
  border-bottom: 3px solid transparent;
  width: fit-content;
}

.settingsNav:hover {
  border-bottom: 3px solid #7ADFBB;
}

.settingsTitle {
  text-align: initial;
  font-size: 18px;
  font-weight: 500;
}

.activeSet {
  border-bottom: 3px solid #7ADFBB;
}

.settingsInput {
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.25rem;
  border: 1px solid #CAC4CB;
}

.settingsNavBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 250px;
}

@media only screen and (max-width:480px) {
  .settingsNavBarWrapper {
    flex-direction: initial;
    justify-content: space-evenly;
    height: auto;
    max-width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .settingsNav {
    font-size: 16px;
  }
  .settingsWrapper {
    flex-direction: column;
  }
  .settingPagesWrapper {
    flex: auto;
    max-width: initial;
    margin-bottom: 40px;
  }
  .settingsTitle {
    margin: auto;
  }
  .settingsInput {
    margin: auto;
    width: 80%;
    text-align: center;
  }
}