.fa-heart {
  cursor: pointer;
}

.fa-trash-alt {
  cursor: pointer;
}

#liked {
  color: #D5212E;
}

.recentPostsCard {
  border: 1px solid #EBE8EE;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}