.form-control {
  border: 1px solid #F3F3F3;
  width: 90%;
}

.errorMsg {
  font-size: 14px;
  color: #E1467C;
}


.form-control::placeholder {
  color: #C8C4CB;
}

.signUpText {
  font-weight: 500;
}

.card-header {
  background: none;
  border-bottom: 1px solid rgba(11,32,39,0.5);
}

.card {
  background-color: #F2F7F6;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 1rem;
}

.inputTop {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.inputBot {
  border-top: 1px solid #F3F3F3;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 20px;
}

.regInput {
  margin-bottom: 20px;
}


.btn {
  background-image: linear-gradient(to right, #7B42F6 0%, #45A1FF 100%);
  color: #ffffff;
  width: 63%;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
  transition: 0.5s;
  background-size: 180% auto;
}

.btn:hover {
  color: #ffffff;
  background-position: right center;
}

.squatText {
  background-image: linear-gradient(125.54deg, #7ADFBB 0%, #45A1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.logInCard {
  margin: auto;
}

.signUpWrapper {
  margin-top: 80px;
}

@media (max-width: 499px) {
  .signUpWrapper {
    margin-top: 0;
    padding: 30px;
  }
  .regInput {
    margin-bottom: 0;
  }
  .form-control {
    width: 100%;
  }
}