.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavItem a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
}

@media (min-width: 500px) {
  .NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .NavItem a {
    color: #ffffff;
    height: 100%;
    padding: 16px 10px;
    border: 3px solid transparent;
  }
  
  .NavItem a:active,
  .NavItem a.active {
    color: #818D92;
  }
  .NavItem a:hover {
    border-bottom: 3px solid #45A1FF;
    background: #000000;
  }
}

@media only screen and (max-width: 480px) {
  .NavItem a {
    background-image: linear-gradient(125.54deg, #7ADFBB 0%, #45A1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 600;
  }
}